<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret Hitler</title>
    <link rel="stylesheet" href="static/css/game.css">
</head>
<body>
<main>
    <section id="players">
        <div>
            <ul class="player_list">
                <li> <img class="player_list_icon" src="static/images/Role_Back.png"> Player 1 </li>
                <li> <img class="player_list_icon" src="static/images/Role_Back.png"> Player 2 </li>
            </ul>
        </div>
        <div>
            <img id="draw_pile" class="policy_pile" src="static/images/Policy_Back.png">
            <img id="discard_pile" class="policy_pile" src="static/images/Policy_Back.png">
        </div>
    </section>
    <section id="game">
            <img id="board_fascist" src="static/images/Board_Fascist_5_6.png" class="board">
            <img id="board_liberal" src="static/images/Board_Liberal.png" class="board">
    </section>
</main>
</body>
</html>